#menu{
    width: 15%;
    display: inline-block;
    vertical-align: top;
    position: fixed;
}
#menu a{ 
    color: #3d2e09;
    border: 4px solid #3d2e09;
    border-radius: 10px;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 8px;
    margin-right: 8px;
}
#menu a:hover{
    background: #e8c96d;
}

.formulario{
    text-align: right; 
    color: #3d2e09;
    border: 4px solid #3d2e09;
    border-radius: 10px;
    display: inline-block;
    padding: 32px;
    background: #e8c96d;
}
.formulario h3{
    margin-top: 0px;
}
body{
    background: #edd9a8;
    font-family: Calibri;
}

.formulario input{
    font-weight: bold;
    border: 4px solid #3d2e09;
    border-radius: 10px;
    background: white;
    padding: 4px;
}
.formulario input:active{
    background: #ff7a38;
}
.formulario button{
    font-weight: bold;
    border: 4px solid #3d2e09;
    border-radius: 10px;
    margin-right: 8px;
}
.formulario button:hover{
    background: #ff7a38;
}
.formulario button:active{
    background: #e8c96d;
}
.conteudo{
    padding: 20px;
    padding-top: 0px;
    width: 65%;
    display: inline-block;
    margin-left: 15%;
}
.conteudo h1{
    border-bottom: 4px solid #3d2e09;
    border-top: 4px solid #3d2e09;
    margin-top: 0px;
}
.conteudo h2{
    margin: 0px;
}
.conteudo h3{
    margin: 0px;
}
.anuncio{
    text-align: center;
    padding-top: 200px;
    width: 15%;
    height: 250px;
    overflow: hidden;
    float: right;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}
.mundoBox{
    border: 4px solid #3d2e09;
    border-radius: 10px;
    background: #e8c96d;
    padding: 16px;
    margin-bottom: 16px;
}.mundoBox input{
    font-weight: bold;
    border: 4px solid #3d2e09;
    border-radius: 10px;
    margin-right: 8px;
}
.mundoBox input:hover{
    background: #ff7a38;
}
.mundoBox input:active{
    background: #e8c96d;
}
.mundoBox img{
    width: 92px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.mundoCapa{
    min-width: 40%;
    max-width: 70%;
}
.cenaImagem{
    display: inline-block;
}
.cenaConteudo{
    display: inline-block;
    margin-left: 16px;
}
.personagemBox{
    border: 4px solid #3d2e09;
    border-radius: 10px;
    display: inline-block;
    width: 20%;
}
.acaoBox{
    border: 3px solid #3d2e09;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 4px;
}
.personagemFoto{
    vertical-align: top;
    display: inline-block;
}
.personagemFoto img{
    width: 128px;
}
.personagemDados{
    vertical-align: top;
    padding: 10px;
    display: inline-block;
    border: 1px solid red;
    max-width: 80%;
}
.personagemDados h3{
    margin: 0px;
}
.notifBox{
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
}
.notifBox form{
    display: inline-block;
}
.notifBorder{
    display: inline-block;
}
.notifBorder a:visited{
    text-decoration: none;
    color: black;
}
.notifBorder a:link{
    text-decoration: none;
    color: black;
}
.notifDelete{
    display: inline-block;
}
.notifDelete form{
    display: inline-block;
}
.cenaImagem{
    vertical-align: top;
    display: inline-block;
}
.cenaImagem img{
    width: 440px;
}
.cenaDados{
    vertical-align: top;
    padding: 10px;
    display: inline-block;
    border: 1px solid red;
}
#chatBox{
    border: 1px solid black;
    padding: 10px;
    min-height: 196px;
    max-height: 300px;
    overflow: scroll;
}
.bloco{
    border: 3px solid black;
    border-radius: 10px;
    background-color: #e8c96d;
    margin-top: 24px;
    padding: 16px;
}