#menu{
    text-align: center;
}
#menu ul{ 
    list-style-type: none; 
    margin-bottom:  0px;
    margin-top: 0px;
    padding: 0px; 
    overflow: hidden; 
    display: inline-block;
}
#menu li{ 
    float: left; 
} 
#menu li a{ 
    display: block; 
    color: #3d2e09;
    text-align: center; 
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none; 
    border: 4px solid #3d2e09;
    border-radius: 10px;
    margin-right: 8px;
}
#menu li a:hover{
    background: #e8c96d;
}

.formulario{
    text-align: right; 
    color: #3d2e09;
    border: 4px solid #3d2e09;
    border-radius: 10px;
    display: inline-block;
    padding: 32px;
    background: #e8c96d;
}

body{
    background: #edd9a8;
    font-family: Calibri;
}

.formulario input{
    font-weight: bold;
    border: 4px solid #3d2e09;
    border-radius: 10px;
    background: white;
    padding: 4px;
}
.formulario input:active{
    background: #ff7a38;
}
.formulario button{
    font-weight: bold;
    border: 4px solid #3d2e09;
    border-radius: 10px;
    margin-right: 8px;
}
.formulario button:hover{
    background: #ff7a38;
}
.formulario button:active{
    background: #e8c96d;
}
.conteudo{
    border: 1px solid red;
    padding: 20px;
}
.mundoBox{
    border: 4px solid #3d2e09;
    border-radius: 10px;
    background: #e8c96d;
    padding: 16px;
    margin-bottom: 16px;
}
